{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mx-auto rounded border shadow-lg my-5">
    <h4 class="text-center my-5 bg-success p-2 rounded text-white">{{type}} Now!</h4>
    <div class="mx-auto" style="max-width: 600px;">
        <form style="margin-bottom: 100px;" enctype="multipart/form-data" action="" method="post">
            {% csrf_token %}
            {{form | crispy}}
            {% if type == "Login" %}
            <p>New here? <a href="{% url 'signup' %}">Signup Now!</a></p>
            <button class="btn btn-success">Submit</button>
            {% elif type == "Signup" %}
            <p>Already have an account? <a href="{% url 'login' %}">Login Now!</a></p>
            <button class="btn btn-success">Submit</button>
            {% elif type == "Edit Profile" %}
            <button class="btn btn-success">Save</button>
            <a href="{% url 'change_pass' %}" class="btn btn-danger">Change Password</a>
            {% elif type == "Change Password" %}
            <a class="text-decoration-none" href="{% url 'set_pass' %}">Forgot your old password?</a><br><br>
            <button class="btn btn-success">Submit</button>
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}