{% extends 'base.html' %}
{% block head_title %}Profile{% endblock %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<div class="container mx-auto row justify-content-center">
  <div class="text-center rounded rounded-4 shadow-lg p-3 fw-bold mt-4" style="max-width: 600px;" >
    {% if request.user.account.profile_image %}
    <img class="w-25 rounded-4 shadow-lg" src="{{request.user.account.profile_image.url}}" class="img-fluid rounded-start" alt="...">
    {% else %}
    <img class="w-25 rounded-4 shadow-lg" src="{% static './image/profile.png' %}" class="img-fluid rounded-start"
      alt="...">
    {% endif %}
    <br><br>
    <span class="text-primary fs-2">{{request.user.first_name}} {{request.user.last_name}}</span><br><br>
    
    <a class="btn btn-primary" href="{% url 'edit_profile' %}">Edit Profile</a>
  </div>

{% endblock %}